body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;
    min-width: 320px;
}

html {
    margin: 0;
    padding: 0;
}

p, body, html {
    font-size: 15px;
    font-family: $font-base;
    color: $variable;
}

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: $font-base;
}

.wr {
    max-width: 1180px;
    min-width: 320px;
    padding: 0 35px;
    margin: 0 auto;
    position: relative;
}

li {
    list-style: none;
}

h2 {
    font-size: 35px;
    margin-bottom: 25px;
    font-weight: 600;
	color: $variable;
	text-decoration: none;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: normal;
	color: $variable;
	text-decoration: none;
}

h4 {
    color: $variable;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 10px;
}

a {
    text-decoration: underline;
    color: #variable;

    &:hover, &.active {
        text-decoration: none;
    }

    &:active {
        color: $variable;
    }
}

%clear {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}